<div class="container mx-auto">
  <div class="flex justify-center items-center min-h-screen">
    <div class="w-full max-w-md bg-blue-100 p-8 border border-blue-300 rounded-md text-blue-900">
      <h2 class="text-center text-2xl font-bold mb-4">Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-3" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="mb-4">
          <%= f.label :name, "Full name", class: "block text-gray-600 text-sm font-medium" %>
          <%= f.text_field :name, class: "form-input w-full", autofocus: true, required: true, autocomplete: "name" %>
        </div>
        <div class="mb-4">
          <%= f.label :phone_number, "Phone number", class: "block text-gray-600 text-sm font-medium" %>
          <%= f.text_field :phone_number, class: "form-input w-full", required: true, placeholder: "+1XXXXXXXXXX" %>
        </div>
        <div class="mb-4">
          <%= f.label :email, class: "block text-gray-600 text-sm font-medium" %>
          <%= f.email_field :email, class: "form-input w-full", required: true, autocomplete: "email" %>
        </div>
        <div class="mb-4">
          <%= f.label :password, class: "block text-gray-600 text-sm font-medium" %>
          <%= f.password_field :password, class: "form-input w-full", autocomplete: "new-password", required: true %>
        </div>
        <div class="mb-4">
          <%= f.label :password_confirmation, class: "block text-gray-600 text-sm font-medium" %>
          <%= f.password_field :password_confirmation, class: "form-input w-full", autocomplete: "new-password", required: true %>
        </div>
        <div class="text-center my-2">
          <%= f.submit "Sign up", class: "btn btn-primary bg-blue-500 hover:bg-blue-600 text-white" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>